<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.spring.family.boot.mapper.TestMapper">
    <resultMap id="testResultMap" type="com.github.spring.family.boot.mapper.entity.TestEntity">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="date" column="date"/>
    </resultMap>
    <sql id="commonWhereQueryCondition">
        <if test="id != null">
            and id = #{id}
        </if>
        <if test="name != null">
            and name = #{name}
        </if>
    </sql>
    <select id="getByEntity" resultType="com.github.spring.family.boot.mapper.entity.TestEntity" parameterType="long">
        select * from test_entity
        <where>
            <include refid="commonWhereQueryCondition"/>
        </where>
    </select>
</mapper>
